.identityTabs {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    justify-content: space-around!important;

    .loginForm, .registerForm {
        margin: 50px auto;
        width: 100%;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .form-field {
            margin-top: 10px!important;
        }
    }
}