<mat-list class="container">
    <app-todo-input (newItem)="newItemEvent($event)"></app-todo-input>
    <mat-progress-bar *ngIf="isLoading === true" color="accent" mode="query"></mat-progress-bar>
    <mat-divider></mat-divider>
    <app-todo
        *ngFor="let todo of todos"
        [todo]=todo
        (edit)="editItem($event)"
        (delete)="deleteItem($event)"
    ></app-todo>

    <div class="emptyState" *ngIf="!todos.length">
        <mat-icon color="accent" class="icon">check_circle_outline</mat-icon>
        Hooray! all is done. Go take some rest.
    </div>
</mat-list>
