<mat-list class="container">
    <app-todo-input
        (newItem)="newItemEvent($event)"
    ></app-todo-input>
    <button
        *ngIf="todos!.length > 0"
        class="full-width"
        mat-button
        [color]="hideDone? 'accent' : ''"
        (click)="hideDone = !hideDone"
    >
        <span *ngIf="!hideDone">Hide</span>
        <span *ngIf="hideDone">Show</span>
        <span> Done</span>
    </button>


    <mat-progress-bar *ngIf="isLoading === true" color="accent" mode="query"></mat-progress-bar>
    <mat-divider></mat-divider>
    <app-todo
        *ngFor="let todo of todos"
        [todo]=todo
        (edit)="editItem($event)"
        (delete)="deleteItem($event)"
        [hideDone]="hideDone"
    ></app-todo>

    <div class="emptyState" *ngIf="!todos?.length">
        <mat-icon color="accent" class="icon">check_circle_outline</mat-icon>
        Hooray! all is done. Go take some rest.
    </div>
</mat-list>
