<header class="simple-header">
    <mat-toolbar color="accent" class="toolbar">
        <a href="#" mat-button routerLink="/">
            <h1>{{ title }}</h1>
        </a>
        <p>
            <a *ngIf="!isLoggedIn" mat-button routerLink="/identity" [queryParams]="{ tabIndex: 1}">
                Register
            </a>
            <a *ngIf="!isLoggedIn" mat-button routerLink="/identity" [queryParams]="{ tabIndex: 0}">
                Login
                <mat-icon>login</mat-icon>
            </a>
            <!-- routerLink="/logout" -->
            <a mat-button *ngIf="isLoggedIn" (click)="logout()">
                Logout
                <mat-icon>logout</mat-icon>
            </a>
        </p>
    </mat-toolbar>
</header>
